@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	margin: 0;
	margin-top: 15px;
	font-family: "Barlow Semi Condensed", serif;
	background-color: rgba(31, 55, 87, 1);
}

.margin-0 {
	margin: 0;
}

.page-choit {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.score {
	border: solid 1px white;
	display: flex;
	align-items: center;
	padding: 10px 15px;
	gap: 60px;
	margin-bottom: 100px;
}
.score h1 {
	font-size: 21px;
	color: white;
}

.victoir {
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 11px 35px;
}
.victoir p {
	color: rgba(42, 69, 194, 1);
}
h2 {
	font-size: 40px;
}

.pierre-papier-scisseau {
	position: relative;
}
.pierre-papier-scisseau button {
	background-color: white;
	border-radius: 50%;
}

.papier {
	display: flex;
	justify-content: center;
}
.papier button {
	border-radius: 50%;
	border: solid 10px rgba(70, 100, 244, 1);
	display: flex;
	justify-content: center;
	padding: 13px 18px;
	position: absolute;
	right: 66%;
	bottom: 66%;
}

.scisseau {
	display: flex;
	justify-content: center;
}
.scisseau button {
	border-radius: 50%;
	border: solid 10px rgba(235, 159, 14, 1);
	padding: 8px 8px;
	display: flex;
	justify-content: center;
	position: absolute;
	left: 65%;
	bottom: 65%;
}

.pierre {
	display: flex;
	justify-content: center;
}
.pierre button {
	border-radius: 50%;
	border: solid 10px rgba(219, 46, 77, 1);
	display: flex;
	justify-content: center;
	padding: 16px 17px;
	position: absolute;
	top: 65%;
}
.triangle {
	position: relative;
	left: 2%;
}
